<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wendel.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.wendel.entity.User">
        <id column="ID" jdbcType="CHAR" property="id"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="MOBILE" jdbcType="VARCHAR" property="mobile"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="BIRTHDAY" jdbcType="DATE" property="birthday"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="INSERT_USER" jdbcType="VARCHAR" property="insertUser"/>
        <result column="INSERT_TIME" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="DELETE_FLAG" jdbcType="VARCHAR" property="deleteFlag"/>
    </resultMap>
    <select id="findByUsername" resultMap="BaseResultMap">
        select * from t_user where DELETE_FLAG='0'
        <choose>
            <when test='type == "2"'>
                and MOBILE = #{userName}
            </when>
            <when test='type == "3"'>
                and EMAIL = #{userName}
            </when>
            <otherwise>
                and USER_NAME = #{userName}
            </otherwise>
        </choose>
        ORDER BY INSERT_TIME DESC LIMIT 1
    </select>

    <resultMap id="UserDtoResultMap" type="com.wendel.model.dto.UserDto" extends="BaseResultMap">
    </resultMap>
    <select id="getByPageList" parameterType="com.wendel.model.vo.UserListVo" resultMap="UserDtoResultMap">
        select u.* from t_user u where u.DELETE_FLAG='0'
        <if test="vo.id != null and vo.id != ''">
            and u.ID = #{vo.id}
        </if>
        <if test="vo.name != null and vo.name != ''">
            and u.name like concat('%', #{vo.name}, '%')
        </if>
        <if test="vo.mobile != null and vo.mobile != ''">
            and u.MOBILE like concat('%', #{vo.mobile}, '%')
        </if>
    </select>

    <select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select u.* from t_user u where u.DELETE_FLAG='0' and u.ID = #{id}
    </select>

    <insert id="saveOrUpdate" parameterType="java.util.List">
      INSERT INTO t_user(ID, USER_NAME, MOBILE, PASSWORD,NAME, BIRTHDAY, EMAIL, INSERT_USER, INSERT_TIME, UPDATE_USER, UPDATE_TIME, DELETE_FLAG)
      VALUES
          (#{userVo.id},
          #{userVo.userName},
          #{userVo.mobile},
          #{userVo.password},
          #{userVo.name},
          #{userVo.birthday},
          #{userVo.email},
          #{userVo.insertUser},
          #{userVo.insertTime},
          #{userVo.updateUser},
          #{userVo.updateTime},
          #{userVo.deleteFlag})
        ON DUPLICATE KEY UPDATE
        `UPDATE_TIME`=now(),
        `UPDATE_USER`=VALUES(UPDATE_USER),
        `USER_NAME`=VALUES(`USER_NAME`),
        `MOBILE`=VALUES(`MOBILE`),
        `PASSWORD`=VALUES(`PASSWORD`),
        `NAME`=VALUES(`NAME`),
        `NAME`=VALUES(`NAME`),
        `EMAIL`=VALUES(`EMAIL`)
  </insert>
  <delete id="deleteById">
    DELETE FROM t_user WHERE ID = #{id}
  </delete>
</mapper>